/* ------------------Put your custom code here--------------------*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}   
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}

/*layout*/
body{
  position: relative;
}
ul{
  list-style: none;
}
 ul.breadcrumb{
  padding-left:690px;
} 

/*为js显示/隐藏服务*/
.myhidden{
    display:none;  
}
.myshow{
  display: block;
}
/*浮动*/
.fl{float:left;}
.fr{float:right;}
/*清理浮动*/
.clear{clear:both;}


/*--------------具体操作------------------*/

/*后台首页iframe里面*/
h2 {
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2 span{
    color:#6B6B7D;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 3px;
    margin-bottom:0;
}

/*登陆状态*/
.status{
      border:1px solid #C4C4C4;
      padding:1px;
      margin-top:20px;
}
.status p{
  text-indent:20px;
}

.status .p1{
      background: url("../images/patterns/3.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
      font-weight:bold;
      border-bottom:1px solid #ccc;
      margin-top:1px;
      text-indent:0;
}
/*服务器信息*/
.server{
    margin-top:30px;
}
.server ul{
    list-style: none;
}
.server span{
    font-weight:normal;
}
.server ul li span{
    display:inline-block;
    width:150px;
    margin-right: 30px;
    /*text-align:right;*/
}
.server .s2{
    font-weight: bold;
    text-align: left;
}

/*profile.blade.php*/
#validateMsg{
  list-style-type:decimal;
}
#validateMsg li{
  color:red;
}
#validateMsg p{
  font-weight: bold;
  margin-left:-17px;
}
input[type="file"]{
  width:200px;
}

/*添加用户页面*/
.status ul.userUl{
  margin-left: 100px;
  margin-top: 30px;
} 
.status ul li{
  overflow: hidden;
  zoom:1;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom:1px dashed #ccc; 
}
.status ul li label{
  width:150px;
}
.status ul li label,.status ul li input[type="text"]{
    float:left;
}
.status ul li div.span4{
  padding-left: 130px;
}
.status ul li textarea{
  width:290px;height:100px;
}
.status ol{
  margin-bottom: 0px;
}

/*用户显示页面*/
#userlist{
  width:1174px;
}
#userlist tr{
  border-bottom: 1px dashed #ccc; 
  text-align: center;  
}
#userlist tr.pg{
  text-align: right;
  border:none;
}
#userlist button{
  margin-right: 0;
}
.pagination{
  margin-top: 10px;
  margin-bottom:0px;
}
#userlist tr td.bt{
  width:65px;
}

/*小工具，图片缩放的样式*/
#resizer{
  border:2px ridge #000;
  border-radius: 1px;
  position: absolute;
  left:211px;top:179px;
  background: #fff;
  z-index: 10;
  padding:5px;
  text-align: center;
}

/*添加顶级分类*/
.row-fluid li{
    border:0 !important;
    /*border-bottom: 0 !important;*/
}

/*分类列表*/
#list table.categoryList{
  width:1300px;
  border:1px solid #ccc;
}
#list table.categoryList td{
  border:1px solid #ccc;
  padding:10px;
}
#list table.categoryList td.list_last_td{
  text-align: right;
}
#list table.categoryList th{
  border:1px solid #ccc;
}
#list td button{
  font-size: 11px;
}

/*添加子类滑动框*/
#addChild{
  border:2px groove #EDEDED;
  width:250px;height:500px;
  background:#fff;
  position:absolute;
  left:1264px;top:-23px;
  z-index:2;
}
#addChild input[type="text"]{
  margin-top: 140px;
  margin-left: 17px;
  text-align:center;
}
#addChild input[type="radio"]{
  margin-right: 20px;
}
#addChild label{
  display:inline-block;
  margin:10px 15px 10px 25px;
}
#addChild button{
  margin-left: 60px;
}
#addChild #cancle{
  margin-left: 10px;
}

/*修改分类滑动框*/
#editCotegory{
  border:2px groove #EDEDED;
  width:280px;height:500px;
  background:#fff;
  padding:30px 0px 0px 30px;
  position:absolute;
  left:1264px;top:-23px;
  z-index:2;
}
#editCotegory label{
  font-weight:bold;
}
#editCotegory .ifFinal input{
  margin-left:20px;
}
#editCotegory span{
  display:inline-block;
  width:95px;
  text-align: right;
}

/*删除分类滑动框*/
#deleteCategory{
  border:2px groove #EDEDED;
  width:280px;height:500px;
  background:#fff;
  padding:30px 0px 0px -17px;
  position:absolute;
  left:1264px;top:-23px;
  z-index:2;
}


/*返回前台首页ul*/
#backToHome{
  border:1px solid #ccc;
  margin-left: 0px;
  display: none;
}
#backToHome a{
  display: inline-block;
  width:107px;
}
#backToHome li{
  margin-bottom: 0;
}
#backToHome .first{
  border-bottom:3px groove #ccc;
}

/*后台内容页面*/
div.newsContent label{
  font-weight: bold;
  width:90px;
  text-align: right;
  margin-right: 25px;
}
div.newsContent #label1{
  width:200px;
  margin-bottom: -10px;
}
div.newsContent div{
  overflow: hidden;zoom:1;
  margin-top:15px;
}
div.newsContent div label,#addContent1 div input,#addContent1 div #file_upload,#addContent1 div textarea{
  float:left;
}
div.newsContent div #file_upload{
  padding-right:15px;
  width:150px;
  margin-top:-10px;
}
div.newsContent div textarea{
  margin-left:0;
  width:371px;
  padding:0;
}
#selectContener{
  width:215px;
  margin-left:115px;
}
div.contentspan6{
  width:700px;
}
#content{
  margin-left: 97px;
}
#file_upload{
  margin-left:115px;
}
#cke_content{               /*ckedit容器*/
    margin-top:40px;
}

/*内容列表*/
#contentTable th,#contentTable td{
  border:1px solid #ccc;
  text-align: center;
  padding:10px 0px;
}
